/* layout.scss */
@import 'mixin';

/* header */
.header {
	position:absolute;
	z-index: 10;
	width: 100%;
	background-color: rgb(50, 57, 85);
	> .inner {
		position: relative;
		width: $baseWidth;
		height: 80px;
		margin: 0 auto;
	}
	.logo {
		position: absolute; left: 0; top: 26px;
		.tit {
			width: 116px;
			height: 25px;
			text-indent: -9999em;
			background: url('../img/common/logo.png') no-repeat 0 0;
		}
		.tit2 {
			position: relative;
			width: 174px;
			height: 19px;
			margin: 0 0 0 21px;
			padding-left: 23px;
			vertical-align: -5px;
			text-indent: -9999em;
			background: url('../img/common/logo_tims.png') no-repeat 0 0;
			&::before {
				content: '';
				position: absolute;
				left: -11px;
				top: -1px;
				height: 18px;
				border-left: 2px solid #979cb1;
			}
		}
		.tit3 {
			&::before {
				content: '';
				position:absolute;
				left: -10px;
				top: 8px;
				width: 2px;
				height: 2px;
				background-color: #979cb1;
			}
			position: relative;
			width: 50px;
			height: 18px;
			margin: 0 0 0 22px;
			vertical-align: -5px;
			text-indent: -9999em;
			background: url('../img/common/logo_admin.png') no-repeat 0 0;
		}
	}
	.gnb {
		$btnHeight: 30px;
		@mixin btnSet($height: 30px, $lineHeigh: 29px, $marginL: 24px, $fontS: 13px, $color: #FFF){
			height: $height;
			line-height: $lineHeigh;
			margin-left: $marginL;
			font-size: $fontS;
			color: $color;
		}
		position: absolute;
		right: 0;
		top: 25px;
		.btn_ad {
			@include btnSet();
			@include border-radius(3px);
			float: left;
			padding: 0 10px;
			background-color: #4362d0;
			&:disabled,
			&.disabled {
				border-color: #141d3e;
				color: #666;
				background: #141d3e;
			}
		}
		.btn_util {
			@include btnSet();
			@include border-radius(3px);
			float: left;
			padding: 0 20px;
			background-color: #596cb7;
		}
		.bx_user {
			position:relative;
			margin-top:-2px;
		}
		.btn_user {
			@include btnSet($fontS: 16px);
			float: left;
			margin-right: 6px;
			padding-right: 4px;
			letter-spacing: -0.03em;
			//background: url('../img/common/gnb_btn_user_dw.png') no-repeat right 10px center;
			&::after {
				content: '';
				display:inline-block;
				width: 0;
				height: 0;
				margin-left: 10px;
				border: 6px solid transparent;
				border-top-color: #FFF;
				vertical-align: -4px;
			}
		}
		.user_menu {
			display: none;
		}
		.tit_user {
			float: left;
			line-height: 30px;
			font-size: 16px;
			color: #FFF;
		}
	}
	.nav_tims {
		padding-top: 26px;
		text-align: center;
		> ul {
			display: inline-block;
			text-align: center;
			> li {
				display: inline-block;
				vertical-align: top;
				> a {
					display: inline-block;
					margin: 0 16px;
					padding: 3px 2px 12px;
					border-bottom: 2px solid transparent;
					font-size: 18px;
					color: #babdcc;
					&:hover, &.active {
						border-bottom-color:#FFF;
						color: #FFF;
					}
				}
				ul {
					display: none;
				}
			}
		}
	}

	&.fixed {
		background-color: rgba(50, 57, 85, .96);
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 80px;
			background-color: rgb(50, 57, 85);
		}
		> .inner {
			height: auto;
		}
		.gnb {
			.btn_user {
				&::after {
					vertical-align: 2px;
					border-top-color: transparent;
					border-bottom-color: #FFF;
				}
				//background-image: url('../img/common/gnb_btn_user_up.png');
			}
			.user_menu {
				display: block;
				position: absolute;
				right: 30px;
				top: 50px;
				ul {
					li {
						margin-top:10px;
						a {
							display: block;
							padding: 4px 0;
							font-size: 16px;
							color: #999;
							text-align: center;
						}
					}
				}
			}
		}
		.nav_tims {
			padding-bottom:48px;
			> ul {
				> li {
					ul {
						display: block;
						padding-top:16px;
						li {
							margin-top:16px;
							a {
								display: inline-block;
								padding:4px 0;
								font-size: 16px;
								color: #acafbc;
								&:hover, &.active {
									color: #e9eaf2;
								}
							}
						}
					}
				}
			}
			.tooltip {
				$arrowCol: #4362d0;
				opacity: .9;
				margin-left: 5px;
				&.bs-tooltip-top {
					.arrow::before{
						border-top-color: $arrowCol;
					}
				}
				&.bs-tooltip-right {
					.arrow::before{
						border-right-color: $arrowCol;
					}
				}
				&.bs-tooltip-bottom {
					.arrow::before{
						border-bottom-color: $arrowCol;
					}
				}
				&.bs-tooltip-left {
					.arrow::before{
						border-left-color: $arrowCol;
					}
				}
				.tooltip-inner {
					background: #4362d0;
				}
			}
		}
	}
	&.ty2 {
		.gnb {
			.btn_ad {
				&:disabled,
				&.disabled {
					border-color: #DDD;
					color: #FFF;
					background: #DDD;
				}
			}
			.btn_user {
				color: #666;
				&::after {
					border-top-color: #666;
				}
			}
		}



		.nav_tims {
			> ul {
				> li {
					> a {
						color: #666;
						&:hover, &.active {
							border-bottom-color:#444;
							color: #222;
						}
					}
				}
			}
		}
		&.fixed {
			&::before {
				display: none;
			}
			.gnb {
				.btn_user {
					&::after {
						border-top-color: transparent;
						border-bottom-color: #444;
					}
				}
				.user_menu {
					ul {
						li {
							a {
								
							}
						}
					}
				}
			}
			.nav_tims {
				> ul {
					> li {
						ul {
							li {
								a {
									color: #999;
									&:hover, &.active {
										color: #222;
									}
								}
							}
						}
					}
				}
			}
		}
		border-bottom: 1px solid $borderColor;
		background-color: #fff;
		.logo {
			.tit {
				background-image: url('../img/common/logo2.png');
			}
			.tit2 {
				background-image: url('../img/common/logo_tims2.png');
				&::before {
					border-left-color: #DDD;
				}
			}
		}
	}
	&.admin {
		.nav_tims {
			> ul {
				> li {
					min-width: 148px;
					
					> a {
						margin: 0;
					}
				}
			}
		}
	}
}

/* container */
.container_tims {
	min-height: calc(100% - 95px);
	padding-bottom: 39px;
	background: #f4f9fa;

	&.pb0{
		padding-bottom: 0;
	}
	.contents {

	}
}

.full_wrap{
	width: calc(100% + 32px);
	margin-left: -16px;
}

/* footer */
.footer {
	clear: both;
	
	background-color: #dde5e7;
	.inner {
		position: relative;
		width: 1400px;
		margin: 0 auto;
		padding: 65px 0 60px 72px;

	}
	.f_logo {
		position: absolute;
		left: 0;
		top: 60px;
	}
	.bx_cont {

	}
	.f_menu {
		@include clearfix();
		li {
			&::before {
				content: '';
				position:absolute;
				left:0;
				top: 4px;
				height: 11px;
				border-left:1px solid #CCC;
			}
			&:first-child {
				padding-left:0;
			}
			&:first-child::before {
				display:none;
			}
			position: relative;
			float:left;
			margin-right:18px;
			padding-left:16px;
			a {
				@include fontSet(16px, normal, #666);
				display:block;
				letter-spacing: -0.03em;
			}
		}
	}
	.f_info {
		line-height:1.4;
		margin-top:28px;
		color:#666;
		span {
			&::before {
				content: '';
				display:inline-block;
				height:10px;
				margin:0 5px;
				border-left:1px solid #acb1b2;
				font-size:8px;
				vertical-align: 0;
				
			}
			&.fir::before {
				display:none;
			}
		}
	}
	.copyright {
		line-height:1.4;
		margin-top:2px;
		color:#999;
	}
}

/* 하단 버튼 */
.btm-wrap{
	position: fixed;
}