/* noto-sans-kr-100 - korean */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/noto-sans-kr-v12-korean-100.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Thin'), local('NotoSansKR-Thin'),
		url('../fonts/noto-sans-kr-v12-korean-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/noto-sans-kr-v12-korean-100.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/noto-sans-kr-v12-korean-100.woff') format('woff'), /* Modern Browsers */
		// url('../fonts/noto-sans-kr-v12-korean-100.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/noto-sans-kr-v12-korean-100.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - korean */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/noto-sans-kr-v12-korean-regular.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
		url('../fonts/noto-sans-kr-v12-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/noto-sans-kr-v12-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/noto-sans-kr-v12-korean-regular.woff') format('woff'), /* Modern Browsers */
		// url('../fonts/noto-sans-kr-v12-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/noto-sans-kr-v12-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - korean */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/noto-sans-kr-v12-korean-500.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
		url('../fonts/noto-sans-kr-v12-korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/noto-sans-kr-v12-korean-500.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/noto-sans-kr-v12-korean-500.woff') format('woff'), /* Modern Browsers */
		// url('../fonts/noto-sans-kr-v12-korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/noto-sans-kr-v12-korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* reset.scss ************************************************** */
html {font-size: 13px;}
html, body{height: 100%;}
html, body, h1, h2, h3, h4, h5, h6, frame, iframe, form, fieldset, legend, table, caption, tr, td, address, div p, pre, ul, ol, dl, li, dt, dd, label, input, button, select, textarea, hr, figure {margin: 0; padding: 0;}
body, input, button, select, textarea {line-height: 1; font-size: 13px; font-family: 'Noto Sans KR', 'dotum', 'sans-serif'; color: #666; letter-spacing: -0.01em;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: normal;}
iframe {width: 100%; border: 1px solid #DDD;}
fieldset {border: none;}
table {table-layout: fixed; border-collapse: collapse; border-spacing: 0; width: 100%; border: 0;}
ul, ol {list-style: none;}
legend, caption {overflow: hidden; position: absolute; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);}
hr {margin: 20px 0 27px; border-top: 1px solid #DDD;}
address, caption, em, strong, th {font-weight: normal;}
address, em, i {font-style: normal;}
a, span, strong, em, i {display: inline-block;}
a {color: #303030; text-decoration: none; text-underline-position: under; cursor: pointer;}
a:link, a:visited, a:active, a:hover {color: inherit; text-decoration: none;}
img {border: 0; vertical-align: top;}
input, button, select, label {vertical-align: middle;}
:focus {outline: none;}

//form
input::placeholder {color: #AAA !important;}
input::-webkit-input-placeholder {color: #AAA !important;}
input:-ms-input-placeholder {color: #AAA !important;}

input.ali_r::placeholder {text-align: left !important;}
input.ali_r::-webkit-input-placeholder {text-align: left !important;}
input.ali_r:-ms-input-placeholder {text-align: left !important;}

// input::-ms-clear {display:none;} //입력시 x버튼
input, button, select {box-sizing: border-box; appearance: none; -moz-appearance: none; -ms-appearance: none; -webkit-appearance: none;}
input[type='text']:focus {}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='date'] {height: 42px; padding: 0 13px; border-radius: 3px; border: 1px solid #e1e1e1; color: #222; background-color: #FFF; line-height: 40px;}

input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='date']:focus {border-color: #AAA;}

input[readonly=''],
input[readonly='readonly'] {color: #AAA; background-color: #f9f9f9;}

input[type='text']:read-only,
input[type='password']:read-only,
input[type='number']:read-only,
input[type='tel']:read-only,
input[type='date']:read-only {color: #AAA; background-color: #f9f9f9;}

input[type='text']:disabled,
input[type='password']:disabled,
input[type='number']:disabled,
input[type='tel']:disabled,
input[type='date']:disabled {background-color: #f5f5f5; color: #aaaaaa;}

input[type='date']::-webkit-clear-button {display: none;} //Removes the clear button from date inputs
input[type='date']::-webkit-inner-spin-button {display: none;} //Removes the spin button
input[type='date']::-webkit-calendar-picker-indicator {color: #2c3e50;} //Always display the drop down caret
input[type='date'] {display: inline-block !important; visibility: visible !important;} //A few custom styles for date inputs
input[type='date']:focus {box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;}

input[type='button'],
input[type='submit'],
button {height: 42px; padding: 0 5px; border: none; cursor: pointer; background-color: transparent;}
button:focus {outline: 0;}
button > * {position: relative;} //클릭시 문자 흔들림 방지(ie)
::-webkit-file-upload-button {cursor: pointer;}

select {height: 42px; padding: 0 30px 0 10px; border-radius: 3px; border: 1px solid #e1e1e1; background: #FFF url('../img/common/form_selectbox_dw.png') no-repeat center right 10px;}
select:hover, 
select:active {/*background-image: url('../img/icon/selectbox_up.png');*/}
select::-ms-expand {display: none;}
select:disabled{border: 1px solid #CCC; color: #999 !important; background-color: #EEE !important;}

textarea {resize: none; width: 100%; line-height: 1.5; box-sizing: border-box; padding: 10px; border-radius: 3px; border: 1px solid #e1e1e1;}
textarea:disabled {border: 1px solid #e1e1e1; background-color: #f5f5f5; color: #aaaaaa;}
textarea::placeholder {color: #AAA !important;}
textarea::-webkit-input-placeholder {color: #AAA !important;}
textarea:-ms-input-placeholder {color: #AAA !important;}

input[type='radio'] {width: 25px; height: 25px; background: url('../img/common/form_rdo_off_20.png') no-repeat center center; background-size: 100%;;}
input[type='radio']:checked {background-image:url('../img/common/form_rdo_on_20.png');}
input[type='radio']:disabled {}
input[type='radio']:disabled:checked {}

input[type='checkbox'] {width: 25px; height: 25px; background: url('../img/common/form_chk_off.png') no-repeat center center; background-size: 100%;}
input[type='checkbox']:checked {background-image: url('../img/common/form_chk_on.png');}
input[type='checkbox']:disabled {}
input[type='checkbox']:disabled:checked {}

input[type='checkbox']{
	&.ty2 {
		width: 18px;
		height: 18px;
		margin-right: 5px;
		background-image: url('../img/common/form_chk2_off.png');
		vertical-align: -4px;
		&:checked{
			background-image: url('../img/common/form_chk2_on.png');
		}
	}
}

label input[type='radio'] {margin-right: 8px; vertical-align: -10px;}
label input[type='checkbox'] {margin-right: 8px; vertical-align: -7px;}
.ali_r label input[type='radio'] {margin-right: 0; margin-left: 5px;}
.ali_r label input[type='checkbox'] {margin-right: 0; margin-left: 5px;}

//공통
.ali_l {text-align: left !important;}
.ali_r {text-align: right !important;}
.ali_c {text-align: center !important;}
.ver_t {vertical-align: top !important;}
.ver_m {vertical-align: middle !important;}
.flt_l {float: left !important;}
.flt_r {float: right !important;}
.clr_b {clear: both !important;}

.ellipsis {display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis}
.hidden {overflow: hidden !important; position: absolute !important; width: 1px !important; height: 1px !important; clip: rect(1px, 1px, 1px, 1px);}
.blind {display: none !important;}

select.w_full,
input.w_full {width: 100% !important;}
select.w_half,
input.w_half {width: 49.5% !important;}
select.w_auto,
input.w_auto {width: auto !important;}




.group_opt {
	display: inline-block;
	margin: -4px 0;
	label{
		margin: 4px 25px 4px 0;
		&:last-child {
			margin-right: 0;
		}
	}
	&.vertical {
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		label {
			clear: both;
			float: left;
		}
	}
}
