.container{ width: 100%; max-width: 1240px; margin: 0 auto; padding: 0 20px; box-sizing: border-box; }
.container::after{ display: block; clear: both; content:""; }

.dim{ width: 100%; height: 100vh; opacity: 0.86; background-color: #191919; position: fixed; z-index: 9998; top: 0; left: 0; }

.header{ height: 90px; background: #ffffff; box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1); }
.header .logo-wrap{ float: left; margin-top: 32px; }
.header .logo-wrap h1{ display: inline-block; }
.header .logo-wrap h1 img:last-child{ display: inline-block; margin-left: 15px; }
.header .btn-menu{ width: 14px; height: 14px; float: right; display: none; position: relative; margin-top: 17px; }
.header .btn-menu::before,
.header .btn-menu::after,
.header .btn-menu span{ width: 100%; display: block; height: 2px; background: #111111; position: absolute; left: 0; }
.header .btn-menu::before,
.header .btn-menu::after{ content:""; }
.header .btn-menu::before{ top: 0; }
.header .btn-menu::after{ bottom: 0; }
.header .btn-menu span{ top: 50%; transform: translateY(-50%) }
.header .menu-wrap{ float: right; }
.header .menu-wrap .menu-top-m{ display: none; padding: 25px 30px; box-sizing: border-box; }
.header .menu-wrap .menu-top-m::after{ display: block; clear: both; content:""; }
.header .menu-wrap .menu-top-m .menu-close{ float: right; width: 18px; height: 18px; position: relative; }
.header .menu-wrap .menu-top-m .menu-close::before,
.header .menu-wrap .menu-top-m .menu-close::after{ display: block; width: 18px; height: 2px; background: #111111; content:""; position: absolute; left: 50%; top: 50%; }
.header .menu-wrap .menu-top-m .menu-close::before{ transform: translate(-50%, -50%) rotate(-45deg); }
.header .menu-wrap .menu-top-m .menu-close::after{ transform: translate(-50%, -50%) rotate(45deg); }
.header .menu-wrap ul::after{ display: block; clear: both; content:""; }
.header .menu-wrap ul li{ float: left; }
.header .menu-wrap ul li + li{ margin-left: 90px; }
.header .menu-wrap ul li a{ display: block; padding: 0 25px; line-height: 90px; box-sizing: border-box; height: 90px; font-size: 20px; text-align: center; color: #000000 }
.header .menu-wrap ul li.on a{ border-bottom: 6px solid #111111 }

@media all and (max-width: 1240px) {
    .header{ height: 51px; }
    .header .logo-wrap{ margin-top: 13px; }
    .header .logo-wrap h1 img{ width: 75px; }
    .header .logo-wrap h1 img:last-child{ display: none; }
    .header .btn-menu{ display: block; }
    .header .menu-wrap{ display: none; position: fixed; height: 100vh; background: #ffffff; width: 235px; right: 0; top: 0; z-index: 9999; }
    .header .menu-wrap .menu-top-m{ display: block; }
    .header .menu-wrap ul li{ float: none; }
    .header .menu-wrap ul li a{ padding: 10px 23px; line-height: 51px; height: 53px; text-align: left; font-size: 18px; }
    .header .menu-wrap ul li + li{ margin-left: 0; }
    .header .menu-wrap ul li.on a{ border-bottom: 0 }
}
