.header{
    background: #dba17a;
    background: -moz-linear-gradient(top,  #dba17a 0%, #b5705c 100%);
    background: -webkit-linear-gradient(top,  #dba17a 0%,#b5705c 100%);
    background: linear-gradient(to bottom,  #dba17a 0%,#b5705c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dba17a', endColorstr='#b5705c',GradientType=0 );
}
.header .logo{ padding: 11px 0 20px; }
.header .logo h1{ width: 100px; height: 88px; background: url('../images/logo.png') no-repeat center; background-size: 100%; margin: 0 auto; }
.header ul{ padding: 15px 0 10px; }
.header ul::after{ display: block; clear: both; content:""; }
.header ul li{ float: left; text-align: center; color: #ffffff; width: 20% }
.header ul li a{ display: block; font-size: 17px; color: #ffffff; padding: 0 8px; }
.header ul li a::before{ display: block; content:""; width: 48px; height: 48px; border-radius: 50%; margin: 0 auto 8px; }
.header ul li:first-child a::before{ background: #8a5a4c url('../images/icon_menu01.png') no-repeat center; background-size: 27px; }
.header ul li:nth-child(2) a::before{ background: #8a5a4c url('../images/icon_menu02.png') no-repeat center; background-size: 27px; }
.header ul li:nth-child(3) a::before{ background: #8a5a4c url('../images/icon_menu03.png') no-repeat center; background-size: 27px; }
.header ul li:nth-child(4) a::before{ background: #8a5a4c url('../images/icon_menu04.png') no-repeat center; background-size: 27px; }
.header ul li:nth-child(5) a::before{ background: #8a5a4c url('../images/icon_menu05.png') no-repeat center; background-size: 27px; }
.header ul li.on:first-child a::before{ background: #3e231a url('../images/icon_menu01.png') no-repeat center; background-size: 27px; }
.header ul li.on:nth-child(2) a::before{ background: #3e231a url('../images/icon_menu02.png') no-repeat center; background-size: 27px; }
.header ul li.on:nth-child(3) a::before{ background: #3e231a url('../images/icon_menu03.png') no-repeat center; background-size: 27px; }
.header ul li.on:nth-child(4) a::before{ background: #3e231a url('../images/icon_menu04.png') no-repeat center; background-size: 27px; }
.header ul li.on:nth-child(5) a::before{ background: #3e231a url('../images/icon_menu05.png') no-repeat center; background-size: 27px; }

.footer{ padding-bottom: 33px; }
.footer p{ font-size: 12px; text-align: center; }