/* layout */
.has-padding{ padding-left: 12px; padding-right: 12px; }

.dim{ position: fixed; background: rgba(0,0,0,0.8); top: 0; left: 0; width: 100%; height: 100vh; z-index: 9998; }

.contents{ padding-top: 15px; padding-bottom: 37px; }

/* table */
.table{ width: auto; display: table; border-collapse: collapse; table-layout: fixed; min-width: 100%; max-width: none; word-break: keep-all; line-height: 1.19; }
.table .thead{ display: table-header-group; color: #3e231a; text-align: center; font-weight: 700; }
.table .tbody{ display: table-row-group }
.table .tfoot{ display: table-footer-group }
.table .bg-b9b1ae{ background: #b9b1ae; }
.table .trow{ display: table-row; width: 100%; border-bottom: 1px solid #ffffff; }
.table .trow > *{ display: table-cell; vertical-align: middle; font-size: 17px; }
.table .trow .w5{ width: 5%; min-width: 100%; }
.table .trow .w10{ width: 10%; }
.table .trow .w15{ width: 15%; }
.table .trow .w20{ width: 20%; }
.table .trow .w22{ width: 22%; }
.table .trow .w23{ width: 23%; }
.table .trow .w25{ width: 25%; }
.table .trow .w30{ width: 30%; }
.table .trow .w35{ width: 35%; }
.table .trow .w40{ width: 40%; }
.table .trow .w45{ width: 45%; }
.table .trow .w50{ width: 50%; }
.table .ta-c{ text-align: center; }
.table .ta-l{ text-align: left; }
.table .ta-r{ text-align: right; }

/* table2 */
table{ width: 100%; }
table td,
table th{ font-size: 17px; padding: 13px 0 3px; vertical-align: top; height: 51px; box-sizing: border-box; }
table th{ font-weight: 400; color: #8a5a4c; text-align: left; padding-left: 12px; }
table td .txt{ font-size: 12px; font-weight: 700; margin-top: 3px; margin-bottom: 10px; word-break: keep-all; }
table .ta-c{ text-align: center; }
table .ta-l{ text-align: left; }
table .ta-r{ text-align: right; }

/* 제목 */
h2.tit{ font-size: 23px; text-align: center; font-weight: 900; color: #3e231a; margin-top: 7px; margin-bottom: 22px; }

/* input */
input[type="text"],
input[type="password"]{ height: 45px; font-size: 17px; border: 1px solid #a0a0a0; border-radius: 10px; box-sizing: border-box; }
.input-wrap{ margin-top: -10px; }
.input-wrap > *{ float: left; }
.input-wrap::after{ display: block; clear: both; content:""; }
.input-wrap input[type="text"],
.input-wrap input[type="password"]{ width: 100%; padding: 0 10px; }
.input-wrap button{ height: 45px; line-height: 45px; width: 45px; font-size: 17px; text-align: center; border-radius: 10px; background: #8a5a4c; color: #ffffff; font-weight: 700; margin-left: 6px; }
.input-wrap select{ width: calc(100% - 51px); padding: 0 10px; height: 45px; font-size: 17px; border: 1px solid #a0a0a0; border-radius: 10px; box-sizing: border-box; background: #ffffff url('../images/bg_select.png') no-repeat 93% center; margin-bottom: 6px; background-size: 20px; }
.input-wrap textarea{ width: 100%; resize: none; font-size: 17px; border: 1px solid #a0a0a0; border-radius: 10px; box-sizing: border-box; height: 240px; overflow-y: auto; }
.check-wrap label{ position: relative; padding-left: 36px; display: block; }
.check-wrap label input + span{ font-size: 17px; line-height: 24px; }
.check-wrap label input + span::before{ content:""; display: block; width: 24px; height: 24px; position: absolute; left: 0; top: -2px; background: url('../images/check_off.png') no-repeat center; background-size: 100%; }
.check-wrap label input:checked + span::before{ background: url('../images/check_on.png') no-repeat center; background-size: 100%; }
.input-btn input[type="text"],
.input-btn input[type="password"]{ width: calc(100% - 51px);  }
.input-sm input[type="text"],
.input-sm input[type="password"]{ width: calc(100% - 51px);  }
.input-xs input[type="text"],
.input-xs input[type="password"]{ width: calc(100% - 105px);  }
.input-file input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.input-file label { float: left; height: 45px; line-height: 45px; display: block; width: 45px; font-size: 17px; text-align: center; border-radius: 10px; background: #8a5a4c; color: #ffffff; font-weight: 700; margin-left: 6px; }
.input-file .upload-name { float: left; width: calc(100% - 51px); height: 45px; font-size: 17px; border: 1px solid #a0a0a0; border-radius: 10px; box-sizing: border-box; background: #ffffff; padding: 0 10px;  }
.input-file .upload-display { margin-top: 6px; width: 100%; }
.input-file .upload-display .upload-thumb-wrap { display: block; width: 100%; position: relative; padding-top: 100%; box-sizing: border-box; border: 1px solid #a0a0a0; background: #ffffff url('../images/bg_user_photo.png') no-repeat center bottom; background-size: 80%; }
.input-file .upload-display .upload-thumb-wrap img { display: block; max-width: 100%; max-height: 100%; width: auto; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) }
.input-unit input[type="text"]{ width: calc(100% - 40px); }
.input-unit span{ line-height: 45px; height: 45px; display: block; float: left; font-size: 17px; width: 40px; text-align: right; padding-right: 10px; box-sizing: border-box; }

/* button */
.btn-wrap{ padding-top: 7px; padding-bottom: 7px; }
.btn-wrap::after{ display: block; clear: both; content:""; }
.btn-wrap .btn{ float: left; width: 100%; font-size: 19px; font-weight: 900; line-height: 50px; height: 50px; border-radius: 25px; color: #ffffff; display: block; }
.btn-wrap .btn.bg-3e231a{ background: #3e231a; }
.btn-wrap .btn.bg-b5705c{ background: #b5705c; }
.btn-wrap .btn.bg-666666{ background: #666666; }
.btn-wrap.col2 .btn{ width: calc(50% - 6px); }
.btn-wrap.col2 .btn + .btn{ margin-left: 12px; }

/* tab */
.tab-wrap::after{ display: block; clear: both; content:""; }
.tab-wrap li{ width: calc(25% - 3px); float: left; }
.tab-wrap li + li{ margin-left: 4px; }
.tab-wrap li a{ display: block; width: 100%; line-height: 50px; height: 50px; text-align: center; border-radius: 15px; background: #ffffff; font-size: 17px; }
.tab-wrap li.on a{ color: #ffffff; background: #3e231a }

/* date search */
.date-search{ margin-bottom: 25px; }
.date-search::after{ display: block; clear: both; content:""; }
.date-search > *{ float: left; font-size: 17px; }
.date-search input{ height: 45px; width: calc(50% - 43px); font-weight: 700; margin-top: 2px; padding: 0 12px; }
.date-search span{ height: 45px; line-height: 45px; text-align: center; width: 23px; margin-top: 2px }
.date-search button{ width: 50px; height: 50px; border-radius: 50%; background: #b5705c url('../images/btn_search.png') no-repeat center; margin-left: 13px; background-size: 17px; }

/* 팝업 */
.pop-wrap{ position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: calc(100% - 24px); display: none; z-index: 9999; }
.pop-wrap .pop-header{ background: #3e231a; color: #ffffff; }
.pop-wrap .pop-header h1{ font-size: 23px; padding: 0 12px; box-sizing: border-box; font-weight: 900; line-height: 54px; height: 54px; }
.pop-wrap .pop-cont{ background: #ffffff; padding-top: 20px; padding-bottom: 15px; }

/* 로그인 */
.login table{ margin-bottom: 26px; }
.login table th{ width: 105px; }

/* 비밀번호 찾기 팝업 */
#findPassword .pop-header h1{ background: url('../images/btn_search.png') no-repeat 12px center; background-size: 30px; padding-left: 48px; }
#findPassword table th{ padding-left: 0; width: 93px; }
#findPassword .btn{ width: 120px; float: none; margin: 0 auto; }

/* 회원가입 */
.join table{ margin-bottom: 26px; }
.join table th{ width: 135px; }

/* 신규 */
.new { padding-top: 20px; padding-bottom: 50px; }
.new .table .thead .trow div p span{ font-size: 11px; }
.new .table .thead .trow div,
.new .table .tbody .trow div{ height: 48px; padding: 7px 0; box-sizing: border-box }

/* 신규 - 상세보기 */
.request table{ margin-bottom: 26px; }
.request table th{ width: 78px; }
.request table td .btn-wrap::after{ display: block; clear: both; content:""; }
.request table td .btn-wrap .btn{ width: 50px; height: 50px; border-radius: 50%; float: left; }
.request table td .btn-wrap .btn + .btn{ margin-left: 12px; }
.request table td .btn-wrap .btn-call{ background: #b5705c url('../images/icon_call.png') no-repeat center; background-size: 50px; }
.request table td .btn-wrap .btn-sign{ background: #b5705c url('../images/icon_sign.png') no-repeat center; background-size: 50px; }
.request .btn-confirm{ position: relative; }
.request .btn-confirm span{ position: absolute; color: #b5705c; font-size: 15px; top: 50%; left: 50%; transform: translate(-50%, -50%); margin-left: 35px; }

/* 완료 */
.complete { padding-top: 20px; padding-bottom: 50px; }
.complete .table .thead .trow div p span{ font-size: 11px; }
.complete .table .thead .trow div,
.complete .table .tbody .trow div{ height: 48px; padding: 7px 0; box-sizing: border-box }

/* 고객알림 */
.custormer-alarm { padding-top: 24px; padding-bottom: 50px; }
.custormer-alarm .tab-wrap{ margin-bottom: 22px; }
.custormer-alarm .table .thead .trow div p span{ font-size: 11px; }
.custormer-alarm .table .thead .trow div,
.custormer-alarm .table .tbody .trow div{ height: 48px; padding: 7px 0; box-sizing: border-box }
.custormer-alarm .table .trow .date{ font-size: 13px; padding: 0 8px; }
.custormer-alarm .table .trow .time{ font-size: 15px; padding: 0 8px; }
.custormer-alarm .acc-cont{ background: #ffffff; padding-bottom: 20px; display: none; }
.custormer-alarm .acc-cont th{ width: 90px; }

/* 회사알림 */
.company-alarm { padding-top: 24px; padding-bottom: 50px; }
.company-alarm .tab-wrap{ margin-bottom: 22px; }
.company-alarm .table .thead .trow div p span{ font-size: 11px; }
.company-alarm .table .thead .trow div,
.company-alarm .table .tbody .trow div{ height: 48px; padding: 7px 0; box-sizing: border-box }
.company-alarm .table .trow .date{ font-size: 13px; padding: 0 8px; }
.company-alarm .table .trow .time{ font-size: 15px; padding: 0 8px; }
.company-alarm .acc-cont{ background: #ffffff; padding-bottom: 20px; display: none; }
.company-alarm .acc-cont th{ width: 90px; }

/* 운행이력 */
.race-list { padding-top: 24px; padding-bottom: 50px; }
.race-list .tab-wrap{ margin-bottom: 22px; }
.race-list .table .thead .trow div p span{ font-size: 11px; }
.race-list .table .thead .trow div,
.race-list .table .tbody .trow div{ height: 48px; padding: 7px 0; box-sizing: border-box }
.race-list .btn-wrap{ margin-top: 32px; }
.race-list .btn-wrap .btn{ width: 132px; margin: 0 auto; float: none; }

/* 입출금 */
.deal-list { padding-top: 24px; padding-bottom: 50px; }
.deal-list .tab-wrap{ margin-bottom: 22px; }
.deal-list .table .thead .trow div p span{ font-size: 11px; }
.deal-list .table .thead .trow div,
.deal-list .table .tbody .trow div{ height: 48px; padding: 7px 0; box-sizing: border-box }
.deal-list .table .trow .date{ font-size: 13px; }
.deal-list .table .trow .time{ font-size: 15px; }
.deal-list .table .trow .cont{ padding: 7px; }
.deal-list .btn-wrap{ margin-top: 32px; }
.deal-list .btn-wrap .btn{ width: 132px; margin: 0 auto; float: none; }

/* 추천기사 */
.recommendation .tab-wrap{ margin-bottom: 22px; }
.recommendation .table .thead .trow div,
.recommendation .table .tbody .trow div{ height: 48px; padding: 7px 0; box-sizing: border-box }
.recommendation .point-guide{ padding: 18px 0 18px 90px; margin-top: 45px; margin-bottom: 6px; background: #ffffff url('../images/icon_point.png') no-repeat 18px center; background-size: 62px; width: 100%; box-sizing: border-box; }
.recommendation .point-guide h2{ font-size: 23px; font-weight: 900; color: #8a5a4c; line-height: 1; margin-bottom: 6px; }
.recommendation .point-guide p{ color: #3e231a; font-size: 17px; font-weight: 900; line-height: 1 }
.recommendation .btn-wrap{ margin-top: 32px; }
.recommendation .btn-wrap .btn{ width: 132px; margin: 0 auto; float: none; }

/* 내정보 */
.my-info .tab-wrap{ margin-bottom: 22px; }
.my-info table{ margin-bottom: 26px; }
.my-info table th{ width: 135px; }

/* 배차금액 */
.price h2.tit{ margin-top: 26px; margin-bottom: 24px; }
.price .check-wrap{ width: 135px; margin: 0 auto; }
.price .check-wrap + .check-wrap{ margin-top: 21px; }
.price .btn-wrap{ margin-top: 32px; }
.price .btn-wrap .btn{ float: none; width: 140px; margin: 0 auto; }

/* 배차거리 */
.distance h2.tit{ margin-top: 26px; margin-bottom: 24px; }
.distance .check-wrap{ width: 135px; margin: 0 auto; }
.distance .check-wrap + .check-wrap{ margin-top: 21px; }
.distance .btn-wrap{ margin-top: 32px; }
.distance .btn-wrap .btn{ float: none; width: 140px; margin: 0 auto; }

/* 계좌이체 */
.bank-transfer .tab-wrap{ margin-bottom: 26px; }
.bank-transfer .tit{ font-weight: 700; color: #8a5a4c; text-align: left; padding-left: 12px; box-sizing: border-box; }
.bank-transfer .cont{ padding: 0 18px 20px; }
.bank-transfer table th{ width: 133px; }
.bank-transfer table tbody tr > td > .has-pr{ padding-right: 10px; }
.bank-transfer table.type2{ width: 82.6% }
.bank-transfer table.type2 th,
.bank-transfer table.type2 td{ font-size: 15px; padding-top: 4px; padding-bottom: 4px; height: auto; color: #434343; }
.bank-transfer table.type2 th{ width: 78px; font-weight: 700; }
.bank-transfer table.type2 .ta-r{ text-align: right; }
.bank-transfer table.type2 .ta-c{ text-align: center; }
.bank-transfer table.type2 td:last-child{ width: 115px; }
.bank-transfer table.type2 td .has-pr{ padding-right: 27px; }
.bank-transfer .btn-wrap{ margin-top: 23px; }

/* 배차지역 */
.area h2.tit{ margin-top: 22px; }
.area .select-wrap{ margin-top: 12px; }
.area .select-wrap::after{ display: block; clear: both; content:""; }
.area .select-wrap select{ float: left; display: block; width: calc(50% - 6px); padding: 0 10px; height: 45px; font-size: 17px; border: 1px solid #a0a0a0; border-radius: 10px; box-sizing: border-box; background: #ffffff url('../images/bg_select.png') no-repeat 93% center; margin-bottom: 6px; background-size: 10px; }
.area .select-wrap select + select{ margin-left: 12px; }
.area .table{ margin-bottom: 45px; }
.area .table:last-child{ margin-bottom: 0; }
.area .table .thead .trow div,
.area .table .tbody .trow div{ height: 48px; padding: 7px 0; box-sizing: border-box }
.area .table .tbody .trow div .check-wrap{ height: auto; padding: 0; }
.area .table .tbody .trow div .check-wrap label{ padding-left: 24px; height: 24px; display: inline-block; }
.area .table .tbody .trow div .check-wrap label input + span{ height: auto; line-height: auto; }
.area .btn-wrap{ margin-top: 39px; }
.area .btn-wrap .btn{ float: none; width: 140px; margin: 0 auto; }