.bg-c1a57b{ background: #C1A57B; }
.bg-222831{ background: #222831; color: #ffffff; }

.btn{ width: 360px; height: 71px; line-height: 71px; text-align: center; border-radius: 7px; font-size: 24px; display: block; }
.btn:hover{ background: #F2F2F2; color: #222831; }

.sec-tit{ font-size: 42px; letter-spacing: 8px; line-height: 1.1; }

.visual{ width: 100%; overflow: hidden; height: 990px; position: relative; font-family: 'JejuMyeongjo'; }
.visual .swiper-container{ height: 990px; }
.visual .swiper-slide{ text-align: center; display: block; overflow: hidden; position: relative; height: 990px; }
.visual .swiper-slide img{ position: absolute; left: 50%; transform: translateX(-50%); }
.visual .visual-arrow{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 1; }
.visual .visual-arrow .container{ position: relative; }
.visual .visual-arrow .container [class^="swiper-button"]{ width: 38px; height: 61px; color: none; }
.visual .visual-arrow .container [class^="swiper-button"]::after{ display: none; }
.visual .visual-arrow .container .swiper-button-next{ background: url('../images/icon_arrow_right.png') no-repeat center; }
.visual .visual-arrow .container .swiper-button-prev{ background: url('../images/icon_arrow_left.png') no-repeat center; }
.visual .visual-cont{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 1; text-align: center; }
.visual .visual-cont h2{ letter-spacing: 2px; line-height: 1.33; font-size: 72px; color: #FFEBB3; margin-bottom: 100px; }
.visual .visual-cont h2 span{ display: inline-block; padding-left: 48px; }
.visual .visual-cont p{ line-height: 1.5; font-size: 36px; color: #F2F2F2 }
.visual .swiper-pagination{ line-height: 0; bottom: 130px !important; }
.visual .swiper-pagination .swiper-pagination-bullet{ background: #ffffff; border: 1px solid #707070; width: 19px; height: 19px; margin: 0 8px; opacity: 1 }
.visual .swiper-pagination .swiper-pagination-bullet-active{ background: #C1A57B; }

.your-night{ text-align: center; padding-top: 157px; padding-bottom: 220px; }
.your-night .container::after{ display: block; clear: both; content:""; }
.your-night .container .sec-tit{ margin-bottom: 12px; }
.your-night .container .sub-tit{ margin-bottom: 90px; font-family: 'JejuMyeongjo'; }
.your-night .container article{ display: inline-block; box-sizing: border-box; width: 33.3333%; padding-top: 100px; padding-bottom: 65px; }
.your-night .container article + article{ border-left: 1px solid #222831; margin-left: -4px; }
.your-night .container article h4{ font-size: 24px; line-height: 1; margin-bottom: 40px; margin-top: 100px; letter-spacing: 8px; font-family: 'JejuMyeongjo'; }
.your-night .container article p{ line-height: 2; font-size: 16px; letter-spacing: 2px; font-family: 'NotoSansKR'; font-weight: 500 }

.insomnia{ padding-top: 190px; padding-bottom: 220px; }
.insomnia .container::after{ display: block; clear: both; content:""; }
.insomnia .container .sec-tit{ margin-bottom: 130px; }
.insomnia .container article{ float: left; }
.insomnia .container article:first-of-type{ width: 550px; }
.insomnia .container article:last-of-type{ text-align: right; width: calc(100% - 550px) }
.insomnia .container article .headline{ font-size: 20px; letter-spacing: 8px; line-height: 1.9; padding-bottom: 23px; border-bottom: 1px solid #ffffff; margin-bottom: 60px; font-family: 'JejuMyeongjo'; margin-top: 130px; }
.insomnia .container article .headline span{ position: relative; }
.insomnia .container article .headline span::after,
.insomnia .container article .headline span::before{ display: block; width: 8px; height: 8px; background: #ffffff; border-radius: 50%; content:""; position: absolute; top: -15px; animation-name: example; animation-duration: 0.7s; animation-iteration-count: infinite }
.insomnia .container article .headline span::before{ left: 4px; }
.insomnia .container article .headline span::after{ right: 13px; }
.insomnia .container article .txt-stat{ font-family: 'NotoSansKR'; font-size: 16px; font-weight: 500; letter-spacing: 2px; line-height: 74px; height: 74px; margin-bottom: 36px; }
.insomnia .container article .txt-stat strong{ font-size: 74px; font-family: 'JejuMyeongjo'; line-height: 74px; height: 74px; display: inline-block; font-family: 'JejuMyeongjo'; }
.insomnia .container article .gauge{ width: 100%; height: 26px; background: #ffffff; position: relative; transition: width 0.5s; }
.insomnia .container article .gauge span{ display: block; position: absolute; background: #C1A57B; height: 26px; top: 0; left: 0; }
.insomnia .container article img{ 
    filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.16));
}
@keyframes example {
  0%   { top: -15px; }
  50%  { top: -20px; }
  100% { top: -15px; }
}

.my-recommend{ background: url('../images/bg_my_recommend.png') no-repeat center center; background-size: cover; padding-top: 225px; padding-bottom: 123px; color: #ffffff; }
.my-recommend .container::after{ display: block; clear: both; content:""; }
.my-recommend .container article{ float: left; }
.my-recommend .container .sec-tit{ margin-bottom: 60px; }
.my-recommend .container article:last-of-type{ width: 720px; }
.my-recommend .container article:first-of-type{ text-align: left; width: 720px }
.my-recommend .container article .txt{ font-family: 'NotoSansKR'; font-size: 16px; font-weight: 500; letter-spacing: 2px; margin-bottom: 100px; }
.my-recommend .container article .headline{ font-size: 20px; letter-spacing: 8px; line-height: 1.9; padding-bottom: 54px; border-bottom: 1px solid #ffffff; margin-bottom: 54px; font-family: 'JejuMyeongjo'; margin-top: 30px; }
.my-recommend .container article img{ filter: drop-shadow(0px 9px 21px rgba(0,0,0,0.16)); }