.main h2.tit{ font-size: 60px; line-height: 1.2; font-family: 'YesevaOne'; }

.main .visual{ background: url('../images/visual.png') no-repeat center; background-size: cover; height: 865px; padding-top: 222px; box-sizing: border-box; text-align: center; color: #ffffff; }
.main .visual p{ font-size: 32px; }
.main .visual p:last-child{ border-top: 1px solid #b5b5b5; max-width: 452px; margin: 55px auto 0; padding-top: 72px; line-height: 2; font-family: 'YesevaOne';  }
.main .visual h2{ font-size: 72px; font-weight: 700; line-height: 1.66 }

.main .about{ padding: 60px 0 65px; text-align: center; box-sizing: border-box; }
.main .about h2.tit{ margin-bottom: 45px; }
.main .about .bg-wrap{ position: relative; width: 37.84%; padding-top: 33.3%; margin: 0 auto 32px; }
.main .about .bg-wrap .bg-area{ background-image: url('../images/bg_about.png'); background-position: center; /*background-size: 631px;*/ background-size: cover; background-repeat: no-repeat; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-attachment: fixed; }
.main .about p{ font-size: 60px; color: #595959; font-family: 'YesevaOne'; line-height: 1; }
.main .about p:last-child{ text-shadow:-1px 0px #a0a0a0,1px 0px #a0a0a0,0px -1px #a0a0a0,0px 1px #a0a0a0; color:#fff  }

.main .characteristic{ padding: 60px 0 125px; text-align: center; box-sizing: border-box; background: url('../images/bg_characteristic.png') no-repeat center; background-size: cover;  background-attachment: fixed; }
.main .characteristic h2.tit{ font-family: 'NotoSansKR'; font-size: 48px; line-height: 1.5; font-weight: 400; color: #ffffff; margin-bottom: 54px; }
.main .characteristic ul{ width: 1000px; margin: 0 auto; }
.main .characteristic ul::after{ display: block; clear: both; content:""; }
.main .characteristic ul li{ float: left; width: 20%; }
.main .characteristic ul li .img-wrap{ width: 130px; height: 130px; border-radius: 50%; margin: 0 auto;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
}
.main .characteristic ul li.item-characteristic01 .img-wrap{ background: #ffffff url('../images/icon_characteristic01.png') no-repeat center; }
.main .characteristic ul li.item-characteristic02 .img-wrap{ background: #ffffff url('../images/icon_characteristic02.png') no-repeat center; }
.main .characteristic ul li.item-characteristic03 .img-wrap{ background: #ffffff url('../images/icon_characteristic03.png') no-repeat center; }
.main .characteristic ul li.item-characteristic04 .img-wrap{ background: #ffffff url('../images/icon_characteristic04.png') no-repeat center; }
.main .characteristic ul li.item-characteristic05 .img-wrap{ background: #ffffff url('../images/icon_characteristic05.png') no-repeat center; }
.main .characteristic ul li p{ margin-top: 20px; font-size: 18px; line-height: 1.22; font-weight: 700; color: #ffffff; }

.main .join01{ padding: 77px 0 68px; text-align: center; background: url('../images/bg_join.png') no-repeat center; background-size: cover; box-sizing: border-box; }
.main .join01 .txt-area{ width: 538px; height: 538px; border-radius: 50%; background: url('../images/bg_join_txt.png') no-repeat center; background-size: cover; margin: 0 auto; box-sizing: border-box; padding-top: 180px;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
}
.main .join01 .txt-area p{ font-size: 18px; line-height: 1.5; color: #ffffff; font-weight: 400; }
.main .join01 .txt-area p.headline{ line-height: 1.16; font-size: 36px; margin-bottom: 25px; }
.main .join01 .txt-area p.headline strong{ font-weight: 700; }
.main .join01 .txt-area button{ width: 200px; height: 60px; box-sizing: border-box; line-height: 58px; text-align: center; color: #ffffff; font-size: 16px; border-radius: 30px; border: 1px solid #ffffff; display: block; margin: 35px auto 0; }

.main .join02{ padding: 100px 0 125px; box-sizing: border-box; background: url('../images/bg_phone.png') no-repeat 78% 102px; }
.main .join02::after{ display: block; clear: both; content:""; }
.main .join02 .container > p{ font-family: 'YesevaOne'; line-height: 1; font-size: 100px; margin-top: 232px; text-align: center; }
.main .join02 .txt p{ font-size: 18px; }
.main .join02 .txt p strong{ font-weight: 700; }
.main .join02 .txt .headline{ font-size: 36px; line-height: 1.19; margin-bottom: 40px; }
.main .join02 .txt button{ width: 200px; height: 60px; line-height: 58px; border: 1px solid #212121;border-radius: 30px; display: block; margin-top: 57px; font-size: 16px; }

@media (max-width: 991px){

    .main h2.tit{ font-size: 35px; }

    .main .visual{ height: 550px; padding-top: 185px; }
    .main .visual p{ font-size: 18px; }
    .main .visual h2{ font-size: 40px; }
    .main .visual p:last-child{ font-size: 22px; margin: 35px auto 0; padding-top: 40px; width: calc(100% - 24px); }

    .main .about{ padding: 40px 0 45px; }
    .main .about .bg-wrap{ width: 65%; padding-top: 56.55%; }
    .main .about p{ font-size: 38px; }

    .main .characteristic{ padding: 40px 0 90px; }
    .main .characteristic h2.tit{ font-size: 30px; margin-bottom: 48px; }
    .main .characteristic ul{ width: 100%; }
    .main .characteristic ul li{ width: 50%; height: 152px; margin-bottom: 20px; }
    .main .characteristic ul li:last-child{ width: 100%; margin-bottom: 0; }
    .main .characteristic ul li .img-wrap{ width: 95px; height: 95px; }
    .main .characteristic ul li.item-characteristic01 .img-wrap{ background: #ffffff url('../images/icon_characteristic01.png') no-repeat center; background-size: 57%; }
    .main .characteristic ul li.item-characteristic02 .img-wrap{ background: #ffffff url('../images/icon_characteristic02.png') no-repeat center; background-size: 57%; }
    .main .characteristic ul li.item-characteristic03 .img-wrap{ background: #ffffff url('../images/icon_characteristic03.png') no-repeat center; background-size: 57%; }
    .main .characteristic ul li.item-characteristic04 .img-wrap{ background: #ffffff url('../images/icon_characteristic04.png') no-repeat center; background-size: 57%; }
    .main .characteristic ul li.item-characteristic05 .img-wrap{ background: #ffffff url('../images/icon_characteristic05.png') no-repeat center; background-size: 57%; }
    .main .characteristic ul li p{ font-size: 12px; margin-top: 15px; }

    .main .join01{ padding: 55px 0 50px; }
    .main .join01 .txt-area{ width: 280px; height: 280px; padding-top: 90px; }
    .main .join01 .txt-area p.headline{ font-size: 22px; margin-bottom: 15px; }
    .main .join01 .txt-area p{ font-size: 12px; }
    .main .join01 .txt-area button{ font-size: 10px; margin: 15px auto 0; width: 145px; height: 38px; line-height: 38px; border-radius: 18px; }

    .main .join02{ padding: 65px 0 75px; background: url('../images/bg_phone.png') no-repeat center 340px; background-size: 620px; }
    .main .join02 .txt .headline{ font-size: 22px; margin-bottom: 30px; }
    .main .join02 .txt p{ font-size: 14px; }
    .main .join02 .txt button{ font-size: 10px; width: 145px; height: 38px; line-height: 38px; border-radius: 18px; margin-top: 35px; }
    .main .join02 .container > p{ margin-top: 430px; font-size: 65px; }
}