/* NotoSansKR */
@font-face { 
    font-family: 'NotoSansKR'; 
    font-weight: 100; 
    src:
        url('../font/NotoSansKR/NotoSansKR-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR/NotoSansKR-Thin.otf') format('opentype'),
        url('../font/NotoSansKR/NotoSansKR-Thin.woff') format('woff'),
        url('../font/NotoSansKR/NotoSansKR-Thin.woff2') format('woff2'),
        url('../font/NotoSansKR/NotoSansKR-Thin.ttf') format('truetype'),
        url('../font/NotoSansKR/NotoSansKR-Thin.svg#NotoSansKR-Thin') format('svg');
}
@font-face { 
    font-family: 'NotoSansKR'; 
    font-weight: 300; 
    src:
        url('../font/NotoSansKR/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR/NotoSansKR-Light.otf') format('opentype'),
        url('../font/NotoSansKR/NotoSansKR-Light.woff') format('woff'),
        url('../font/NotoSansKR/NotoSansKR-Light.woff2') format('woff2'),
        url('../font/NotoSansKR/NotoSansKR-Light.ttf') format('truetype'),
        url('../font/NotoSansKR/NotoSansKR-Light.svg#NotoSansKR-Light') format('svg');
}
@font-face { 
    font-family: 'NotoSansKR'; 
    font-weight: 400; 
    src:
        url('../font/NotoSansKR/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR/NotoSansKR-Regular.otf') format('opentype'),
        url('../font/NotoSansKR/NotoSansKR-Regular.woff') format('woff'),
        url('../font/NotoSansKR/NotoSansKR-Regular.woff2') format('woff2'),
        url('../font/NotoSansKR/NotoSansKR-Regular.ttf') format('truetype'),
        url('../font/NotoSansKR/NotoSansKR-Regular.svg#NotoSansKR-Regular') format('svg');
}
@font-face { 
    font-family: 'NotoSansKR'; 
    font-weight: 500; 
    src:
        url('../font/NotoSansKR/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR/NotoSansKR-Medium.otf') format('opentype'),
        url('../font/NotoSansKR/NotoSansKR-Medium.woff') format('woff'),
        url('../font/NotoSansKR/NotoSansKR-Medium.woff2') format('woff2'),
        url('../font/NotoSansKR/NotoSansKR-Medium.ttf') format('truetype'),
        url('../font/NotoSansKR/NotoSansKR-Medium.svg#NotoSansKR-Medium') format('svg');
}
@font-face { 
    font-family: 'NotoSansKR'; 
    font-weight: 700; 
    src:
        url('../font/NotoSansKR/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR/NotoSansKR-Bold.otf') format('opentype'),
        url('../font/NotoSansKR/NotoSansKR-Bold.woff') format('woff'),
        url('../font/NotoSansKR/NotoSansKR-Bold.woff2') format('woff2'),
        url('../font/NotoSansKR/NotoSansKR-Bold.ttf') format('truetype'),
        url('../font/NotoSansKR/NotoSansKR-Bold.svg#NotoSansKR-Bold') format('svg');
}
@font-face { 
    font-family: 'NotoSansKR'; 
    font-weight: 900; 
    src:
        url('../font/NotoSansKR/NotoSansKR-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR/NotoSansKR-Black.otf') format('opentype'),
        url('../font/NotoSansKR/NotoSansKR-Black.woff') format('woff'),
        url('../font/NotoSansKR/NotoSansKR-Black.woff2') format('woff2'),
        url('../font/NotoSansKR/NotoSansKR-Black.ttf') format('truetype'),
        url('../font/NotoSansKR/NotoSansKR-Black.svg#NotoSansKR-Black') format('svg');
}

/* YesevaOne */
@font-face { 
    font-family: 'YesevaOne'; 
    src:
        url('../font/YesevaOne/YesevaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/YesevaOne/YesevaOne-Regular.otf') format('opentype'),
        url('../font/YesevaOne/YesevaOne-Regular.woff') format('woff'),
        url('../font/YesevaOne/YesevaOne-Regular.woff2') format('woff2'),
        url('../font/YesevaOne/YesevaOne-Regular.ttf') format('truetype'),
        url('../font/YesevaOne/YesevaOne-Regular.svg#YesevaOne-Regular') format('svg');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

:focus {
    outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
    font-family: 'NotoSansKR', sans-serif;
    font-weight: 400;
    color: #212121;
    line-height: 1.5;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
}

caption {
    overflow: hidden;
    padding: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

[hidden] {
    display: none;
}

/* html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
} */

a{
	text-decoration: none;
}

a:focus {
    outline: thin dotted;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
    /* font-size: 100%; */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

input{ border: 0; padding: 0; margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

input::-ms-clear { display: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

input[type=number] {
    -moz-appearance: textfield;
}

select{ border: 0; padding: 0; margin: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

select::-ms-expand { display: none; }

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

address{
    font-style: normal;
}

button{
    border: 0;
    padding: 0;
    background: none;
}
