.container{ max-width: 1200px; margin: 0 auto; box-sizing: border-box; position: relative; }
.container::after{ display: block; clear: both; content:""; }

.header{ position: fixed; z-index: 9999; border-bottom: 1px solid #F3F3F3; height: 54px; width: 100%; padding: 0 58px; box-sizing: border-box; background: #549054; }
.header h1{ width: 164px; height: 42px; background: url('../images/common/logo.png') no-repeat; background-size: 100%; margin-top: 6px; display: inline-block; }
.header ul{ float: right; }
.header ul::after{ display: block; clear: both; content:""; }
.header ul li{ float: left; }
.header ul li a{ font-size: 21px; color: #ffffff; line-height: 54px; height: 54px; display: block; padding: 0 29px; }
.header ul li a:hover{ color: #FFBC6A; }
.header ul li:last-child a{ padding-right: 0; }

.footer{ background: #549054; padding: 30px 0 }
.footer .comapny,
.footer .sns,
.footer .footer-menu{ float: left; width: 33.3333%; box-sizing: border-box; }
.footer .sns,
.footer .footer-menu{ border-left: 1px solid #ffffff; }
.footer .comapny a{ color: #ffffff; display: block; font-size: 12px; line-height: 1; margin-bottom: 27px; }
.footer .comapny ul::after{ display: block; clear: both; content:""; }
.footer .comapny ul li{ float: left; color: #ffffff; width: 33.3333%; }
.footer .comapny ul li h3{ font-size: 13px; line-height: 1.2; margin-bottom: 10px; }
.footer .comapny ul li:first-child{ padding-right: 23px; box-sizing: border-box; }
.footer .comapny ul li:first-child p{ font-size: 0.565em; }
.footer .comapny ul li:nth-child(2){ padding-right: 25px; box-sizing: border-box; }
.footer .comapny ul li:nth-child(2) p{ font-size: 9px; text-align: right; width: 100%; }
.footer .comapny ul li:nth-child(2) p span{ float: left; }
.footer .comapny ul li:nth-child(3){ padding-right: 16px; box-sizing: border-box; }
.footer .comapny ul li:nth-child(3) p{ font-size: 9px; text-align: right; width: 100%; }
.footer .sns{ padding: 13px 87px 13px 90px; }
.footer .sns::after{ display: block; clear: both; content:""; }
.footer .sns button{ width: 50px; height: 50px; border-radius: 50%; float: left; }
.footer .sns button + button{ margin-left: 7px; }
.footer .sns .btn-facebook{ background: #ffffff url('../images/common/icon_facebook.png') no-repeat center; background-size: 13px; }
.footer .sns .btn-twiter{ background: #ffffff url('../images/common/icon_twiter.png') no-repeat center; background-size: 26px; }
.footer .sns .btn-instargram{ background: #ffffff url('../images/common/icon_instargram.png') no-repeat center; background-size: 30px; }
.footer .footer-menu{ padding: 0 18px; box-sizing: border-box; }
.footer .sns .btn-youtube{ background: #ffffff url('../images/common/icon_youtube.png') no-repeat center; background-size: 32px; }
.footer .footer-menu ul::after{ display: block; clear: both; content:""; }
.footer .footer-menu ul li{ float: left; height: 76px; }
.footer .footer-menu ul li a{ display: block; line-height: 76px; height: 76px; font-size: 14px; color: #ffffff; text-align: center; padding: 0 9px; box-sizing: border-box; }
.footer .footer-menu ul li a:hover{ color: #FFBC6A; border-bottom: 2px solid #FFBC6A; }
@media (max-width: 991px){
    
}
