.main .l-wrap{ float: left; }
.main .r-wrap{ float: right; }

.main .visual{ height: 100vh; text-align: center; background: #549054; padding-top: 54px; box-sizing: border-box; }
.main .visual img{ width: 840px; margin-left: -40px; }
.main .visual .scroll-downs { bottom: -87px; position: absolute; margin: 0 auto; left: 50%; transform: translateX(-50%); width :24px; height: 48px; }
.main .visual .mousey { padding: 2px 9px; width: 100%; height: 100%; border: 2px solid #fff; border-radius: 17px; box-sizing: border-box; }
.main .visual .scroller { width: 2px; height: 7px; border-radius: 25%; background-color: #fff; animation-name: scroll; animation-duration: 2.2s; animation-timing-function: cubic-bezier(.15,.41,.69,.94); animation-iteration-count: infinite; }

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

.main .map-wrap{ text-align: center; padding-top: 65px; padding-bottom: 72px; }
.main .map-wrap img{ width: 468px; }
.main .map-wrap ul{ width: calc(50% - 234px); }
.main .map-wrap h2{ font-size: 29px; line-height: 1.2; color: #549054; margin-bottom: 10px; }
.main .map-wrap .headline{ font-size: 18px; line-height: 1.2; color: #549054; margin-bottom: 53px; }
.main .map-wrap ul{ width: 212px; float: left; margin-top: 102px; }
.main .map-wrap ul li{ text-align: left; font-size: 21px; line-height: 2.76; }
.main .map-wrap ul li::after{ display: block; clear: both; content:""; }
.main .map-wrap ul li span{ display: inline-block; width: 55px; float: left; text-align: left; }
.main .map-wrap ul:last-child{ float: right; }
.main .map-wrap ul:last-child li{ text-align: right; }

.main .visual02{ height: 480px; background: url('../images/main/bg_visual02.png') no-repeat center; background-size: cover }

.main .brand-store{ padding: 85px 0 60px; }
.main .brand-store .l-wrap{ width: 557px; }
.main .brand-store .l-wrap img{ width: 100%; }
.main .brand-store .r-wrap{ padding-left: 65px; width: calc(100% - 557px); box-sizing: border-box; }
.main .brand-store .r-wrap p{ font-size: 20px; line-height: 1.34; text-align: justify; }
.main .brand-store .r-wrap h2{ font-size: 30px; line-height: 1.27; text-align: center; color: #549054; background: url('../images/main/deco_right.png') no-repeat right center; background-size: 38px; }
.main .brand-store .r-wrap .headline{ font-size: 18px; line-height: 1; text-align: center; color: #549054; margin-bottom: 33px; }

.main .tourist-area{ padding-top: 75px; padding-bottom: 300px; }
.main .tourist-area img{ width: auto; max-width: 100%; margin-bottom: 40px; }
.main .tourist-area .l-wrap,
.main .tourist-area .r-wrap{ width: calc(50% - 30px); }
.main .tourist-area .l-wrap h2{ font-size: 30px; line-height: 1.27; text-align: center; color: #549054; background: url('../images/main/deco_left.png') no-repeat left center; background-size: 38px; }
.main .tourist-area .l-wrap .headline{ font-size: 18px; line-height:1; margin-bottom: 82px; text-align: center; color: #549054; }
.main .tourist-area .r-wrap{ margin-left: 60px; padding-top: 138px; }
.main .tourist-area h3{ text-align: center; margin-bottom: 35px; font-size: 25px; color: #595959; }
.main .tourist-area p{ font-size: 20px; line-height: 1.35; text-align: justify; }

.main .photozone .l-wrap{ width: 560px; }
.main .photozone .r-wrap{ width: calc(100% - 560px); }
.main .photozone h2{ font-size: 30px; line-height: 1.27; text-align: center; color: #549054; margin-bottom: 60px; margin-top: 113px; background: url('../images/main/deco_left.png') no-repeat left center; background-size: 38px; }
.main .photozone h2:first-child{ margin-bottom: 75px; margin-top: 0; background: url('../images/main/deco_right.png') no-repeat right center; background-size: 38px; }
.main .photozone p{ font-size: 20px; line-height: 1.35; text-align: justify; }
.main .photozone .l-wrap .event-wrap::after{ display: block; clear: both; content:""; }
.main .photozone .l-wrap .event-wrap > *{ float: left; }
.main .photozone .l-wrap .event-wrap p{ width: calc(100% - 263px); padding-right: 50px; box-sizing: border-box; text-align: justify; }
.main .photozone .l-wrap .event-wrap img{ width: 263px; }
.main .photozone .r-wrap{ text-align: right; }
.main .photozone .r-wrap img{ width: 387px; }

.main .branding{ padding-top: 145px; padding-bottom: 155px; }
.main .branding h2{ font-size: 30px; line-height: 1.27; text-align: center; color: #549054; margin-bottom: 68px; background: url('../images/main/deco_right.png') no-repeat 705px center; background-size: 38px; }
.main .branding ul::after{ display: block; clear: both; content: ""; }
.main .branding ul li{ width: calc(25% - 56px); float: left; box-sizing: border-box; background: #cdcdcd; padding: 12px; text-align: center; }
.main .branding ul li + li{ margin-left: 28px; }
.main .branding ul li .img-wrap{ width: 100%; height: 270px; background: #ffffff; }
.main .branding ul li p{ text-align: right; color: #7A7A7A; font-size: 25px; margin-top: 29px; }

.main .characteristic{ margin-bottom: 188px; }
.main .characteristic [class^="characteristic-"]{ float: left; width: 33.3333%; }
.main .characteristic [class^="characteristic-"] .txt{ text-align: center; background: #a9c7a9; color: #ffffff; font-weight: 400; font-size: 20px; line-height: 1.2 }
.main .characteristic [class^="characteristic-"] img{ width: auto; max-width: 100%; }
.main .characteristic .characteristic-l .txt{ padding: 66px 0; }
.main .characteristic .characteristic-c .txt{ padding: 4.128em 0; }
.main .characteristic .characteristic-r .txt{ padding: 4.844em 0; }