.header{ width: 100%; }
.header .util{ background: #333333;  }
.header .util .btn-menu{ width: 22px; height: 21px; background: url('../images/common/btn_menu.png') no-repeat center; background-size: 100%; display: none; float: left; margin-top: 12px; }
.header .util .logo{ float: left; width: 140px; height: 38px; background: url('../images/common/logo.png') no-repeat center; background-size: 100%; text-indent: -9999px; margin-top: 16px; }
.header .util .ht-r{ float: right; position: relative; }
.header .util .ht-r::after{ display: block; clear: both; content:""; }
.header .util .ht-r ul{ float: left; }
.header .util .ht-r ul::after{ display: block; clear: both; content:""; }
.header .util .ht-r ul li{ float: left; height: 70px; line-height: 70px; }
.header .util .ht-r ul li::after{ display: block; clear: both; content:""; }
.header .util .ht-r ul li span,
.header .util .ht-r ul li a{ float: left; height: 70px; line-height: 70px; display: block; }
.header .util .ht-r ul li span{ padding: 0 10px; }
.header .util .ht-r ul li span::before{ width: 1px; height: 15px; content:""; display: block; background: #717171; margin-top: 28px }
.header .util .ht-r ul li a{ color: #ffffff; }
.header .util .ht-r ul li .btn-join{ padding-left: 25px; background: url('../images/common/btn_join.png') no-repeat left center; }
.header .util .ht-r ul li .btn-login{ padding-left: 25px; background: url('../images/common/btn_login.png') no-repeat left center; }
.header .util .ht-r ul.ht-menu{ margin-right: 60px; }
.header .util .ht-r .search-wrap{ position: absolute; top: 83px; right: 0; z-index: 9 }
.header .util .ht-r .search-wrap::after{ display: block; clear: both; content:""; }
.header .util .ht-r .search-wrap .search-input-wrap{ float: left; position: relative; display: none; }
.header .util .ht-r .search-wrap .search-input-wrap input{ width: 310px; border-radius: 3px; height: 36px; box-sizing: border-box; padding: 0 60px 0 13px; }
.header .util .ht-r .search-wrap .search-input-wrap .btn-search{ background: url('../images/common/btn_search.png') no-repeat center; width: 60px; height: 36px; position: absolute; right: 0; top: 0; }
.header .util .ht-r .search-wrap > button{ width: 37px; height: 36px; float: left; }
.header .util .ht-r .search-wrap .btn-search.open{ background: url('../images/common/btn_search_open.png') no-repeat right center; }
.header .util .ht-r .search-wrap .btn-search.close{ background: url('../images/common/btn_search_close.png') no-repeat right center; }
.header .menu{ background: #a1344a; position: relative; }
.header .menu .menu-top{ display: none; background: #333333; }
.header .menu .menu-top::after{ display: block; clear: both; content:""; }
.header .menu .menu-top h2{ display: inline-block; color: #ffffff; font-size: 24px; font-weight: 700; line-height: 1.9; padding: 0 20px; }
.header .menu .menu-top ul{ float: right; }
.header .menu .menu-top ul::after{ display: block; clear: both; content:""; }
.header .menu .menu-top ul li{ float: left; }
.header .menu .menu-top ul li a{ text-indent: -9999px; height: 45px; line-height: 45px; position: relative; width: 35px; }
.header .menu .menu-top ul li a .badge{ display: block; position: absolute; width: 15px; height: 15px; line-height: 15px; background: #a1344a; text-align: center; color: #ffffff; font-size: 14px; border-radius: 50%; text-indent: 0; top: 3px; right: -3px; }
.header .menu .menu-top ul li .btn-cart{ background: url('../images/common/btn_cart.png') no-repeat center; background-size: 25px; }
.header .menu .menu-top ul li .btn-join{ background: url('../images/common/btn_join_m.png') no-repeat center; background-size: 25px; }
.header .menu .menu-top ul li .btn-login{ background: url('../images/common/btn_login_m.png') no-repeat center; background-size: 25px; }
.header .menu .menu-top ul li .btn-close{ width: 45px; background: #222222 url('../images/common/btn_menu_close.png') no-repeat center; background-size: 20px; }
.header .menu .container > ul{ width: 1036px; }
.header .menu .container > ul::after{ display: block; clear: both; content:""; }
.header .menu .container > ul > li{ float: left; width: 10%; box-sizing: border-box; position: relative; }
.header .menu .container > ul > li a{ display: block; text-align: center; }
.header .menu .container > ul > li > a{ height: 60px; line-height: 60px; color: #ffffff; }
.header .menu .container > ul:hover .depth2{ display: block; }
.header .menu .container > ul .depth2{ position: absolute; width: 100%; height: 378px; display: none; overflow: hidden; z-index: 99999; padding-top: 5px; }
.header .menu .container > ul .depth2 ul{ position: relative; }
.header .menu .container > ul .depth2 ul::before{ width: 1px; height: 318px; position: absolute; content:""; background: #f5f5f5; top: 30px; left: 0; }
.header .menu .container > ul > li:first-child .depth2 ul::before{ display: none }
.header .menu .container > ul .depth2 ul li a{ color: #666666; line-height: 1; padding: 15px 0; }
.header .menu .bg-menu{ height: 378px; display: none; background: #ffffff; position: absolute; top: 60px; left: 0; width: 100%; z-index: 9999; }
.header .menu .container > ul:hover + .bg-menu{ display: block; }

.footer{ border-top: 1px solid #dddddd; }
.footer .sns{ background: #f7f7f7; }
.footer .sns ul{ text-align: center; padding: 30px 0 24px; }
.footer .sns ul li{ display: inline-block; width: 115px; }
.footer .sns ul li + li{ margin-left: -4px; }
.footer .sns ul li a{ display: block; line-height: 1.83; font-size: 12px; text-align: center; color: #999999; position: relative; padding-top: 59px; box-sizing: border-box; }
.footer .sns ul li.btn-channel a{ background: url('../images/common/btn_sns_channel.png') no-repeat center top; }
.footer .sns ul li.btn-cafe a{ background: url('../images/common/btn_sns_cafe.png') no-repeat center top; }
.footer .sns ul li.btn-facebook a{ background: url('../images/common/btn_sns_facebook.png') no-repeat center top; }
.footer .sns ul li.btn-story a{ background: url('../images/common/btn_sns_story.png') no-repeat center top; }
.footer .sns ul li.btn-blog a{ background: url('../images/common/btn_sns_bloge.png') no-repeat center top; }
.footer .sns ul li a::before{ width: 1px; height: 70px; content:""; display: block; top: 3px; left: 0; position: absolute; background: #ebebeb; }
.footer .sns ul li:first-child a::before{ display: none; }
.footer .fb-wrap{ background: #333333; padding: 38px 0 36px; }
.footer .fb-wrap .cs{ color: #ffffff; float: right; }
.footer .fb-wrap .cs .cs-txt01{ font-size: 18px; line-height: 34px; font-weight: 700; }
.footer .fb-wrap .cs .cs-txt01 img{ display: inline-block; margin-left: 14px; }
.footer .fb-wrap .cs .cs-txt02{ margin-top: 18px; line-height: 29px; }
.footer .fb-wrap .cs .cs-txt02 span{ font-size: 14px; font-weight: 700; line-height: 29px; }
.footer .fb-wrap .cs .cs-txt02 .cs-number{ font-size: 29px; line-height: 29px; display: inline-block; padding-left: 39px; background: url('../images/common/icon_customer.png') no-repeat 10px center; }
.footer .fb-wrap .company-data{ color: #999999; float: left; }
.footer .fb-wrap .company-data ul{ margin-bottom: 22px; }
.footer .fb-wrap .company-data ul::after{ display: block; clear: both; content:""; }
.footer .fb-wrap .company-data ul li{ float: left; }
.footer .fb-wrap .company-data ul li + li{ margin-left: 17px; padding-left: 17px; border-left: 2px solid #666666; }
.footer .fb-wrap .company-data ul li a{ color: #ffffff; }
.footer .fb-wrap .company-data p{ font-size: 14px; line-height: 1.42; }
.footer .fb-wrap .company-data p .copy{ font-size: 12px; }

.quick-menu{ position: fixed; top: 190px; right: 50%; transform: translateX(50%); margin-right: -670px }
.quick-menu ul{ width: 60px; border: 1px solid #dddddd; margin-bottom: 21px; box-sizing: border-box; }
.quick-menu ul li a{ position: relative; text-align: center; line-height: 1.125; padding-bottom: 21px; }
.quick-menu ul li a::after{ display: block; content:""; position: absolute; width: 37px; height: 1px; background: #dddddd; bottom: 0; left: 50%; transform: translateX(-50%); }
.quick-menu ul li:last-child a::after{ display: none; }
.quick-menu ul li a span{ color: #a1344a; }
.quick-menu ul li .btn-cart{ padding-top: 55px; background: #ffffff url('../images/common/btn_quick_cart.png') no-repeat center 18px; }
.quick-menu ul li .btn-kakao{ padding-top: 58px; background: #ffffff url('../images/common/btn_quick_kakaotalk.png') no-repeat center 22px; }
.quick-menu ul li .btn-sms{ padding-top: 53px; background: #ffffff url('../images/common/btn_quick_sms.png') no-repeat center 21px; }
.quick-menu ul li .btn-card{ padding-top: 48px; background: #ffffff url('../images/common/btn_quick_card.png') no-repeat center 21px; }
.quick-menu .btn-top{ width: 60px; height: 60px; border-radius: 50%; background: #ffffff url('../images/common/btn_quick_top.png') no-repeat center top; text-indent: -9999px; }

#popCard .popup-cont img{ width: auto; max-width: 100%; }

#popSMS .popup-cont{ padding-bottom: 40px; }
#popSMS .popup-cont > div{ padding: 0 30px; }
#popSMS .popup-cont .txt{ padding-top: 22px; padding-bottom: 22px; }
#popSMS .popup-cont .txt p{ line-height: 2; }
#popSMS .popup-cont .form-wrap{ border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; background: #fcfcfc; padding-top: 15px; padding-bottom: 15px; margin-bottom: 24px; }
#popSMS .popup-cont .form-wrap table td{ vertical-align: middle; height: 78px; color: #666666; }
#popSMS .popup-cont .form-wrap table td:first-child{ width: 75px; box-sizing: border-box; }
#popSMS .popup-cont .checkbox-item::after{ display: block; clear: both; content:""; }
#popSMS .popup-cont .checkbox-item label{ float: right; }
#popSMS .popup-cont .checkbox-item label p{ padding-right: 15px; }
#popSMS .popup-cont .checkbox-item label p a{ text-decoration: underline; }
#popSMS .popup-cont .checkbox-item label input[type="checkbox"] + span{ padding-left: 24px; }
#popSMS .popup-cont .btn-submit{ width: 100%; max-width: 320px; height: 60px; line-height: 60px; text-align: center; font-size: 24px; margin: 30px auto 0; font-weight: 700; }

@media all and (max-width: 1400px) {
    .quick-menu{ display: none; }
}

@media all and (max-width: 1280px) {
    .header{ position: absolute; z-index: 9999; }
    .header .util{ height: 45px; }
    .header .util .btn-menu{ display: block; }
    .header .util .logo{ width: 76px; height: 20px; margin-top: 13px; margin-left: 20px; }
    .header .util .ht-r{ width: calc(100% - 82px); position: absolute; right: 20px; }
    .header .util .ht-r ul{ float: right; }
    .header .util .ht-r ul.ht-menu{ display: none; }
    .header .util .ht-r ul li{ height: 45px; line-height: 45px; }
    .header .util .ht-r ul li:first-child{ display: none; }
    .header .util .ht-r ul li span{ display: none; }
    .header .util .ht-r ul li span, 
    .header .util .ht-r ul li a{ height: 45px; line-height: 45px; }
    .header .util .ht-r ul li .btn-login{ text-indent: -9999px; padding-left: 0; width: 21px; }
    .header .util .ht-r .search-wrap{ top: 10px; right: 36px; width: calc(100% - 36px); }
    .header .util .ht-r .search-wrap .search-input-wrap{ width: calc(100% - 31px); }
    .header .util .ht-r .search-wrap .search-input-wrap input{ height: 25px; width: 100%; }
    .header .util .ht-r .search-wrap .search-input-wrap .btn-search{ width: 28px; height: 25px; background-size: 17px; }
    .header .util .ht-r .search-wrap > button{ width: 31px; height: 25px; float: right; }
    .header .util .ht-r .search-wrap .btn-search.open{ background: url('../images/common/btn_search_open.png') no-repeat right center; background-size: auto 20px; }
    .header .util .ht-r .search-wrap .btn-search.close{ background: url('../images/common/btn_search_close.png') no-repeat right center; background-size: auto 20px; }
    .header .menu{ position: fixed; top: 0; left: 0; width: 100%; height: 100vh; z-index: 9999; overflow-y: auto; display: none; }
    .header .menu.on{ display: block; }
    .header .menu .container{ padding-left: 0; padding-right: 0; }
    .header .menu .menu-top{ display: block; }
    .header .menu .container > ul{ width: 100%; }
    .header .menu .container > ul > li{ float: none; width: 100%; position: static; background: #ffffff; border-bottom: 1px solid #e2e2e2; }
    .header .menu .container > ul > li a{ text-align: left; font-size: 20px; color: #333333; padding: 0 20px; }
    .header .menu .container > ul > li > a{ padding-left: 57px; position: relative; }
    .header .menu .container > ul > li > a::after{ content:""; width: 20px; height: 20px; background: url('../images/common/icon_more.png') no-repeat center; position: absolute; display: block; background-size: 100%; right: 20px; top: 50%; transform: translateY(-50%); }
    .header .menu .container > ul > li.on > a::after{ background: url('../images/common/icon_close.png') no-repeat center; background-size: 100%; }
    .header .menu .container > ul > li > a.menu-care{ background: url('../images/common/icon_menu01.png') no-repeat 20px center; background-size: 27px; }
    .header .menu .container > ul > li > a.menu-tv{ background: url('../images/common/icon_menu02.png') no-repeat 20px center; background-size: 27px; }
    .header .menu .container > ul > li > a.menu-pc{ background: url('../images/common/icon_menu03.png') no-repeat 20px center; background-size: 27px; }
    .header .menu .container > ul > li > a.menu-kitchen{ background: url('../images/common/icon_menu04.png') no-repeat 20px center; background-size: 27px; }
    .header .menu .container > ul > li > a.menu-life{ background: url('../images/common/icon_menu05.png') no-repeat 20px center; background-size: 27px; }
    .header .menu .container > ul > li > a.menu-goods{ background: url('../images/common/icon_menu06.png') no-repeat 20px center; background-size: 27px; }
    .header .menu .container > ul > li > a.menu-airconditioner{ background: url('../images/common/icon_menu07.png') no-repeat 20px center; background-size: 27px; }
    .header .menu .container > ul > li > a.menu-beauty{ background: url('../images/common/icon_menu08.png') no-repeat 20px center; background-size: 27px; }
    .header .menu .container > ul > li > a.menu-review{ background: url('../images/common/icon_menu09.png') no-repeat 20px center; background-size: 27px; }
    .header .menu .container > ul > li > a.menu-event{ background: url('../images/common/icon_menu10.png') no-repeat 20px center; background-size: 27px; }
    .header .menu .container > ul .depth2{ position: static; height: auto; padding-top: 0; background: #e6e6e6; display: none; }
    .header .menu .container > ul:hover .depth2{ display: none; }
    .header .menu .container > ul > li.on .depth2 {display: block}
    .header .menu .container > ul .depth2 ul li{ padding: 0 20px; }
    .header .menu .container > ul .depth2 ul li a{ border-bottom: 2px solid #cfcfcf; color: #666666; font-size: 18px; background: url('../images/common/icon_move.png') no-repeat right center; background-size: 10px; }
    .header .menu .container > ul .depth2 ul li:last-child a{ border-bottom: 0; }
    .header .menu .container > ul:hover + .bg-menu{ display: none; }

    .footer .sns ul::after{ display: block; clear: both; content:""; }
    .footer .sns ul li{ float: left; width: 20%; }
    .footer .sns ul li + li{ margin-left: 0; } 
    .footer .sns ul li a{ font-size: 10px; padding-top: 52px; }
    .footer .sns ul li.btn-channel a{ background-size: 45px; }
    .footer .sns ul li.btn-cafe a{ background-size: 45px; }
    .footer .sns ul li.btn-facebook a{ background-size: 45px; }
    .footer .sns ul li.btn-story a{ background-size: 45px; }
    .footer .sns ul li.btn-blog a{ background-size: 45px; }
    .footer .fb-wrap{ padding: 20px 0 20px; }
    .footer .fb-wrap .cs{ float: none; width: 100%; text-align: center; border-bottom: 1px solid #444444; padding-bottom: 15px; }
    .footer .fb-wrap .cs .cs-txt01{ font-size: 16px; line-height: 33px; }
    .footer .fb-wrap .cs .cs-txt01 img{ width: 120px; margin-left: 10px; }
    .footer .fb-wrap .company-data{ float: none; }
    .footer .fb-wrap .company-data ul{ text-align: center; margin-top: 25px; }
    .footer .fb-wrap .company-data ul li{ float: none; display: inline-block; }
    .footer .fb-wrap .company-data ul li + li{ margin-left: 13px; }
    .footer .fb-wrap .company-data ul li a{ font-size: 14px; }
    .footer .fb-wrap .company-data p{ text-align: center; font-size: 12px; }
    .footer .fb-wrap .company-data p span{ text-indent: -9999px; display: block; line-height: 0; }
    .footer .fb-wrap .company-data p .copy{ text-indent: 0; line-height: 1.5; font-size: 10px; }

    #popCard .popup-cont img{ width: 100%; }

    #popSMS .popup-cont > div{ padding: 0 15px; }
    #popSMS .popup-cont .txt{ padding-top: 11px; padding-bottom: 11px; }
    #popSMS .popup-cont .form-wrap{ padding-top: 10px; padding-bottom: 10px; }
    #popSMS .popup-cont .form-wrap table td{ height: 52px; }
    #popSMS .popup-cont .btn-submit{ font-size: 20px; max-width: 160px; height: 45px; line-height: 45px; margin: 30px auto 0; }
}

@media all and (max-width: 640px) {
    .footer .sns ul li{ width: 50%; margin-top: 10px }
    .footer .sns ul li:nth-child(1),
    .footer .sns ul li:nth-child(2){ margin-top: 0 }
    .footer .sns ul li:nth-child(5){ width: 100%; }
    .footer .sns ul li:nth-child(2n + 1) a::before{ display: none; }
}