.main h2.tit{ font-size: 24px; text-align: center; padding: 44px 0 52px; line-height: 1.5; }
.main h2.tit span{ position: relative; font-weight: 700; }

/* 메인 비쥬얼 */
.main .main-visual{ height: 568px; }
.main .main-visual .slider-wrap{ overflow: hidden; margin-bottom: 0; }
.main .main-visual .slider-wrap .slider-item{ overflow: hidden; height: 568px; }
.main .main-visual .slider-wrap .slider-item a{ position: relative; display: block; height: 568px; }
.main .main-visual .slider-wrap .slider-item a img{ min-width: 100%; min-height: 100%; width: auto; height: auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.main .main-visual .slider-wrap .slick-prev, 
.main .main-visual .slider-wrap .slick-next{ width: 40px; height: 76px; top: 50%; z-index: 9; }
.main .main-visual .slider-wrap .slick-prev:before, 
.main .main-visual .slider-wrap .slick-next:before{ display: none; }
.main .main-visual .slider-wrap .slick-prev{ left: 50%; transform: translate(-50%, -50%); margin-left: -580px; background: url('../images/main/btn_visual_arrow_l.png') no-repeat center; background-size: 100%; }
.main .main-visual .slider-wrap .slick-next{ right: 50%; transform: translate(50%, -50%); margin-right: -580px; background: url('../images/main/btn_visual_arrow_r.png') no-repeat center; background-size: 100%; }
.main .main-visual .slider-wrap .slick-dots{ bottom: 66px; }
.main .main-visual .slider-wrap .slick-dots li{ width: auto; height: auto; margin: 0 4px; }
.main .main-visual .slider-wrap .slick-dots li button{ width: 10px; height: 10px; padding: 0; }
.main .main-visual .slider-wrap .slick-dots li.slick-active button{ width: 20px; height: 10px; }
.main .main-visual .slider-wrap .slick-dots li button:before{ width: 10px; height: 10px; background: #cfcfcf; opacity: 0.5; border-radius: 50%; content:""; }
.main .main-visual .slider-wrap .slick-dots li.slick-active button:before{ width: 20px; height: 10px; background: #a1344a; opacity: 1; border-radius: 5px; }

/* 케어솔루션 */
.main .care-solution{ padding-bottom: 37px; }
.main .care-solution .container{ background: url('../images/main/bg_care_solution.png') no-repeat left -8px; }
.main .care-solution ul::after{ display: block; clear: both; content:""; }
.main .care-solution ul li{ width: calc(12.5% - 30px); float: left; }
.main .care-solution ul li + li{ margin-left: 34px }
.main .care-solution ul li a{ display: block; text-align: center; }
.main .care-solution ul li .img-wrap{ height: 160px; position: relative; background: #ffffff; margin-bottom: 8px; }
.main .care-solution ul li .img-wrap img{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: auto; height: auto; max-width: 100%; max-height: 100%; }
.main .care-solution ul li p{ line-height: 1.25; }

/* 맞춤제안 */
.main .custom{ padding-top: 6px; background: #fafafa; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding-bottom: 40px; }
.main .custom .tab-btn li{ width: calc(25% + 0.047em); }
.main .custom .tab-content{ padding: 20px; }
.main .custom .tab-content::after{ display: block; clear: both; content:""; }
.main .custom .tab-content[data-tab="1"]{ background: url('../images/main/bg_custom01.png') no-repeat center right; background-size: 100%; }
.main .custom .tab-content[data-tab="2"]{ background: url('../images/main/bg_custom02.png') no-repeat center right; background-size: 100%; }
.main .custom .tab-content[data-tab="3"]{ background: url('../images/main/bg_custom03.png') no-repeat center right; background-size: 100%; }
.main .custom .tab-content[data-tab="4"]{ background: url('../images/main/bg_custom04.png') no-repeat center right; background-size: 100%; }
.main .custom .tab-content > div,
.main .custom .tab-content > h3{ float: left; margin-left: 20px; }
.main .custom .tab-content > *:first-child{ margin-left: 0; }
.main .custom .tab-content [class^="row"]{  width: 270px; }
.main .custom .tab-content [class^="row"]::after{ display: block; clear: both; content:""; }
.main .custom .tab-content [class^="row"] .img-wrap{ width: 100%; position: relative; overflow: hidden; display: block; }
.main .custom .tab-content .row1 .img-wrap{ height: 660px; }
.main .custom .tab-content .row2 .img-wrap{ height: 320px; }
.main .custom .tab-content .row2 .img-wrap + .img-wrap{ margin-top: 20px; }
.main .custom .tab-content [class^="row"] .img-wrap img,
.main .custom .tab-content [class^="row"] .img-wrap .txt{ position: absolute; }
.main .custom .tab-content [class^="row"] .img-wrap img{ top: 0; left: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; }
.main .custom .tab-content [class^="row"] .img-wrap .txt{ left: 0; bottom: 0; background: rgba(0, 0, 0, 0.6); box-sizing: border-box; padding: 18px 20px; width: 100%; }
.main .custom .tab-content [class^="row"] .img-wrap .txt p{ font-weight: 700; color: #ffffff; }
.main .custom .tab-content h3{ box-sizing: border-box; font-size: 26px; line-height: 1.69; margin-top: 63px; padding-left: 18px; width: 290px; font-weight: 300 }
.main .custom .tab-content h3.color-ffffff{ color: #ffffff; }
.main .custom .tab-content h3 strong{ font-weight: 700; }

/* best */
.main .best{ padding-bottom: 60px; }
.main .best .container{ background: url('../images/main/bg_best.png') no-repeat 8px 2px; position: relative; }
.main .best h2.tit{ padding-top: 10px; padding-bottom: 18px; }
.main .best .slider-wrap{ margin-bottom: 0; }
.main .best .slider-wrap .slider-item{ padding-bottom: 38px; }
.main .best .slider-wrap .slider-item a{ display: block; position: relative; }
.main .best .slider-wrap .slider-item a::before{ width: 52px; height: 72px; background: url('../images/main/img_best_label.png') no-repeat center; background-size: 100%; content:""; position: absolute; left: 0; top: 0; z-index: 1; }
.main .best .slider-wrap .slider-item a .img-wrap{ height: 260px; text-align: center; position: relative; margin-bottom: 18px; }
.main .best .slider-wrap .slider-item a .img-wrap img{ position: absolute; max-width: 100%; max-height: 100%; width: auto; height: auto; left: 50%; top: 50%; transform: translate(-50%, -50%) }
.main .best .slider-wrap .slider-item a p{ text-align: center; line-height: 1.5; }
.main .best .slider-wrap .slick-prev, 
.main .best .slider-wrap .slick-next{ width: 20px; height: 38px; }
.main .best .slider-wrap .slick-prev:before, 
.main .best .slider-wrap .slick-next:before{ display: none; }
.main .best .slider-wrap .slick-prev{ background: url('../images/main/btn_best_arrow_l.png') no-repeat center; left: -40px; }
.main .best .slider-wrap .slick-next{ background: url('../images/main/btn_best_arrow_r.png') no-repeat center; right: -40px; }
.main .best .slider-wrap .slick-dots{ bottom: -7px; }
.main .best .slider-wrap .slick-dots li{ width: auto; height: auto; margin: 0 4px; }
.main .best .slider-wrap .slick-dots li button{ width: 10px; height: 10px; padding: 0; }
.main .best .slider-wrap .slick-dots li.slick-active button{ width: 20px; height: 10px; }
.main .best .slider-wrap .slick-dots li button:before{ width: 10px; height: 10px; background: #cfcfcf; opacity: 0.5; border-radius: 50%; content:""; }
.main .best .slider-wrap .slick-dots li.slick-active button:before{ width: 20px; height: 10px; background: #a1344a; opacity: 1; border-radius: 5px; }

/* 배너 */
.main .banner-wrap{ padding-bottom: 42px; }
.main .banner-wrap .container{ height: 240px; }
.main .banner-wrap .slider-item{ overflow: hidden; height: 240px; }
.main .banner-wrap .slider-item a{ display: block; height: 240px; position: relative; }
.main .banner-wrap .slider-item a img{ min-width: 100%; min-height: 100%; width: auto; height: auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.main .banner-wrap .slider-wrap{ margin-bottom: 0; }
.main .banner-wrap .slider-wrap .slick-dots{ top: 9px; right: 16px; left: auto; height: auto; display: inline-block; width: auto; bottom: auto; }
.main .banner-wrap .slider-wrap .slick-dots li{ width: auto; height: auto; margin: 0 4px; }
.main .banner-wrap .slider-wrap .slick-dots li button{ width: 10px; height: 10px; padding: 0; }
.main .banner-wrap .slider-wrap .slick-dots li.slick-active button{ width: 20px; height: 10px; }
.main .banner-wrap .slider-wrap .slick-dots li button:before{ width: 10px; height: 10px; background: #cfcfcf; opacity: 0.5; border-radius: 50%; content:""; }
.main .banner-wrap .slider-wrap .slick-dots li.slick-active button:before{ width: 20px; height: 10px; background: #a1344a; opacity: 1; border-radius: 5px; }

/* 리뷰 */
.main .photo-review{ padding-bottom: 90px; background: #fafafa; border-top: 1px solid #dddddd; }
.main .photo-review .tab-btn li{ width: calc(12.5% + 0.047em); }
.main .photo-review .btn-review{ height: 60px; width: 387px; box-sizing: border-box; border: 2px solid #333333; line-height: 60px; text-align: center; font-size: 20px; display: block; margin: 30px auto 0; background: #ffffff url('../images/main/bg_btn_arr.png') no-repeat 358px center; }

@media all and (max-width: 1280px) {
    .main h2.tit{ font-size: 20px; }
    /* .main h2.tit span{ display: block; } */

    .main .main-visual{ height: auto; }
    .main .main-visual .slider-wrap{ height: auto; }
    .main .main-visual .slider-wrap .slider-item{ height: auto; }
    .main .main-visual .slider-wrap .slider-item a{ height: auto; overflow: visible; }
    .main .main-visual .slider-wrap .slider-item a img{ position: static; width: 100%; height: auto; transform: translate(0, 0); }
    .main .main-visual .slider-wrap .slick-prev, 
    .main .main-visual .slider-wrap .slick-next{ width: 20px; height: 38px; }
    .main .main-visual .slider-wrap .slick-prev{ left: 20px; margin-left: 0; }
    .main .main-visual .slider-wrap .slick-next{ right: 20px; margin-right: 0; }
    .main .main-visual .slider-wrap .slick-dots{ bottom: 30px; }

    .main .care-solution ul li{ width: calc(25% - 9px); margin-bottom: 12px; }
    .main .care-solution ul li + li{ margin-left: 12px; }
    .main .care-solution ul li:nth-child(4n + 1){ margin-left: 0; }
    .main .care-solution ul li .img-wrap{ height: 80px; }
    .main .care-solution ul li p{ font-size: 14px; }

    .main .custom .tab-content{ padding: 10px; }
    .main .custom .tab-content[data-tab="1"],
    .main .custom .tab-content[data-tab="2"],s
    .main .custom .tab-content[data-tab="3"],
    .main .custom .tab-content[data-tab="4"]{ background: #f0f0f0; }
    .main .custom .tab-content > div, 
    .main .custom .tab-content > h3{ margin-left: 10px; }
    .main .custom .tab-content > h3{ display: none; }
    .main .custom .tab-content [class^="row"]{ width: calc(50% - 5px); }
    .main .custom .tab-content .row1{ width: 100%; margin-left: 0; margin-top: 10px; }
    .main .custom .tab-content [class^="row"] .img-wrap img{ position: static; width: 100%; }
    .main .custom .tab-content [class^="row"] .img-wrap .txt{ padding: 12px 12px; }
    .main .custom .tab-content [class^="row"] .img-wrap .txt p{ text-align: center; font-size: 14px; }
    .main .custom .tab-content .row1 .img-wrap{ height: auto; padding-top: 73.08%; }
    .main .custom .tab-content .row1 .img-wrap img{ position: absolute; width: 100%; }
    .main .custom .tab-content .row2 .img-wrap{ height: auto; }
    .main .custom .tab-content .row2 .img-wrap + .img-wrap{ margin-top: 10px; }

    .main .best .slider-wrap .slider-item{ margin-bottom: 0; }
    .main .best .slider-wrap .slider-item a .img-wrap{ height: 130px; margin-bottom: 10px; }
    .main .best .slider-wrap .slider-item a p{ font-size: 14px; }

    .main .banner-wrap .container{ height: auto; padding: 0; }
    .main .banner-wrap .slider-item{ height: auto; }
    .main .banner-wrap .slider-item a{ height: auto; overflow: visible; }
    .main .banner-wrap .slider-item a img{ position: static; width: 100%; height: auto; transform: translate(0, 0); }
    .main .banner-wrap .slider-wrap .slick-dots{ top: 5px; }

    .main .photo-review .tab-btn li{ width: calc(25% + 0.047em); margin-bottom: -0.031em }
    .main .photo-review .tab-btn li:nth-child(4n + 1){ margin-left: 0; }
    .main .photo-review .btn-review{ max-width: 387px; width: 100%; background: #ffffff url(../images/main/bg_btn_arr.png) no-repeat 95% center; font-size: 18px; line-height: 50px; height: 50px; }
}
